:root {
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 400;
  /* background-color: rgb(15, 18, 20); */
  background-color: #0f1214;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
